$c1: #7C5DFA;
$c2: #9277FF;
$c3: #1E2139;
$c4: #252945;
$c5: #DFE3FA;
$c6: #888EB0;
$c7: #7E88C3;
$c8: #0C0E16;
$red: #EC5757;
$red-light: #FF9797;
$c11: #F8F8FB;
$c12: #141625;
$c13: #373B53;
$c14: #F9FAFE;
$c15: #DFE3FA;
$green: #33D69F;
$orange: #FF8F00;
$white: #FFF;
